/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2015, 7:04:29 PM
    Author     : BronyakinD
*/

body {
	background-color: #245580;
	color: #2aabd2;
	font-family: "Arial", monospace;
}
#countdown {
	font-size:40vw;
}


.cdContainer {
	text-align: center;
}

.red {
	color: #c7254e;
}